<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
      <p id="notice"><%= notice %></p>

      <strong>Artists in <%= @genre.name %></strong>

          <ul>

            <% @genre.artists.order('name').each do |artist| %>

              <li><%= artist.name %></li>

            <% end %>

          </ul>

      <%= link_to 'Edit', edit_genre_path(@genre), class: 'btn btn-sm btn-default' %> |
      <%= link_to 'Back', genres_path, class: 'btn btn-sm btn-info' %>

  </div>
</div>

