<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @song.name %>
    </p>

    <p>
      <strong>Artist:</strong>
      <%= @song.artist.name %>
    </p>

    <%= link_to 'Edit', edit_song_path(@song), class: 'btn btn-sm btn-default' %> |
    <%= link_to 'Back', songs_path, class: 'btn btn-sm btn-info' %>

  </div>
</div>
